body {
    background-color: #333333;
}
h1 {
    text-align: center;
    size: 16;
    color: #8A9F9D;
}

div.heroSelection {
    text-align: left;
    color: #9B9B9B;
    border-bottom: 3px solid;
    border-color: #595959;
}

div.heroDetails{
    background-color: black;
    padding: 10px;
    margin-top: 30px;
    border-radius: 25px;
    border: solid darkred;
    color: #8F7B78;
}